* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.container {
  display: grid;
  width: 600px;
  height: 500px;
  gap: 10px;

  grid-template-areas:
    "header header"
    "hero main"
    "sidebar extra"
    "related-images related-posts"
    "footer footer";
}
.grid-container {
  width: 400px;
  height: 300px;
  padding: 10px;
  border: 1px solid white;
  display: grid;
  margin: 20px auto;
  background-color: black;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

.items {
  border: 3px solid #fff;
}

.header {
  grid-area: header;
  background-color: #4dd0e1;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  color: #0a0808;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1/2;
}

.hero {
  grid-area: hero;
  background-color: #d1b3ff;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2/3;
}

.sidebar {
  grid-area: sidebar;
  background-color: #9ccc65;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3/5;
}

.main-content {
  grid-area: main;
  background-color: #ffca28;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2/4;
}

.extra-content {
  grid-area: extra;
  background-color: #9e9e9e;
  padding: 20px;
  text-align: center;
  color: rgb(22, 21, 21);
  font-size: 1.2em;
  font-weight: 500;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 4/5;
}

.related-images {
  grid-area: related-images;
  background-color: #26a69a;
  text-align: center;
  padding: 20px;
  color: rgb(18, 18, 18);
  font-size: 1.2em;
  font-weight: 500;
  grid-column-start: 2.5;
  grid-column-end: 1;
  grid-row: 5/6;
}

.related-posts {
  grid-area: related-posts;
  background-color: #f8bbd0;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  grid-column-start: 2.5;
  grid-column-end: 3;
  grid-row: 5/6;
}

.footer {
  grid-area: footer;
  background-color: #fb8c00;
  padding: 20px;
  text-align: center;
  color: rgb(16, 16, 16);
  font-size: 1.2em;
  font-weight: 500;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 6/7;
}
